*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main{
    background-image: url("new images/back.png");
    height: 600px;
}
.logo{
    margin-left: 30px;
}
.buttons{
    text-align: end;
    margin-right: 100px;
   height: 40px;
   /* width: 100px; */
    top: 0;
     display: flex; 
    flex-direction: row;
    justify-content: center;
    gap: 50px;   
}
button{
    width: 100px;
    /* height: 40; */
    border: none;
    background: none;
    margin-top: 20px;
}
/* #online{
    border: 1px solid orangered;
    height: 40px;
    width: 100px;
    border-radius: 8px;
} */
button:hover{
    border: 1px solid orangered;
    /* height: 40px; */
    width: 100px;
    border-radius: 8px;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
   position: sticky;
   top: 0;
   background-color: white;
   height: 80px;

}
h4{
    color: orangered;
    margin-top: 100px;
    margin-left: 30px;
}
#one{
    font-size: 80px;
  font-family: "Yellowtail", cursive;
  margin-left: 30px;
}
#final{
    background-color: orangered;
    width: 200px;
    height: 50px;
    color: white;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 30px;
}
#final:hover{
    background-color: white;
    color: orangered;
    
}
.fi{
    margin-top: 30px;
    margin-left: 30px;
 font-family: "Ubuntu", sans-serif;
 font-weight: lighter;

}
#two{
    margin-top: 30px;
    margin-left: 30px;
      font-family: "Raleway", sans-serif;
      font-size: 40px;
}

.image{
   margin-left: 300px;

}
.icon1{
    display:block;
}
.trial{
    display: flex;
    flex-direction: row;
    justify-content:center;

}
#second{
    justify-content: space-between;
}

#page3{
    color: orangered;
    text-align: center;
}
#pg3{
      font-size: 50px;
  font-family: "Yellowtail", cursive;
  margin-top: 40px;

  text-align: center;
}
.but3{
    text-align: center;
}
.but3 button:hover{
    background-color: orangered;
    color: white;
   
}
.im1{
    display: flex;
    margin-top: 40px;
    justify-content: center;
    width: 100%;
}
.img1 img{

   height: 400px;
}
.img2 img{
     height: 400px;
}
.im2 img{
    height: 200px;
}
.main4{
    display: flex;
    justify-content: space-between;
}
.four{
    color: orangered;

}
h1{
    margin-top: 30px;
    margin-left: 30px;
  font-family: "Yellowtail", cursive;
  font-size: 50px;
}
p{
    margin-top: 30px;
    margin-left: 20px;
}
#but4 button{
    margin-top: 100px;
    margin-left: 30px;
    width: 200px;
    height: 50px;
    border: 1px solid orangered;
    border-radius: 8px;

}
#but4 button:hover{
    background-color: orangered;
    color: white;
}
.trial2{
    margin-left: 40px;
    
}
.main5{
    background-image: url("new images/section_bg041.png");
    background-repeat: no-repeat;
    height: 500px;
    margin-top: 0;

}
.input{
    height: 200px;
    width: 1000px;
    margin-left: 200px;
    background-color: white;
    margin-top: 80px;
    border-radius: 8px;

}
input[type="text"]{
    border: none;
    background-color:rgba(128, 128, 128, 0.148);
    width: 200px;
    height: 55px;
    margin-top: 60px;
    margin-left: 30px;
    border-radius: 8px;
}
input[type="date"]{
    border: none;
    background-color: rgba(128, 128, 128, 0.148);
    width: 200px;
    height: 55px;
    margin-left: 30px;
    border-radius: 8px;
}
input[type="time"]{
    border: none;
    background-color: rgba(128, 128, 128, 0.148);
    width: 200px;
    height: 55px;
    margin-left: 30px;
    border-radius: 8px;
}
#seven {
    margin-left: 600px;
    margin-top: 30px;
    padding-top:30px ;
}
#eight{
    margin-left: 500px;
}
.but5{
    margin-left: 60px;
    border: 1px solid orangered;
    height: 50px;
    width: 200px;
    border-radius: 8px;
}
.but5:hover{
    background-color: orangered;
    color: white;
    width: 200px;
}
.h4one{
    /* margin-left: 500px; */
    text-align: center;
}
.h1one{
    /* margin-left: 400px; */
    text-align: center;
}
.div{
   display: flex;
   justify-content: center;
   gap: 40px;
}
.div1{
    display: inline-block;
    background-color:rgba(247, 238, 238, 0.304);
    width: 400px;
    padding: 60px;
    text-align: center;
    margin-top: 80px;
    border-radius: 8px;
    padding-top: 100px;

}
h2{
    margin-top: 20px;
}
.main7{
    background-image: url("new images/back123.png");
    height: 600px;

}
.main8{
    margin-left: 500px;
    padding-top: 5px;
}
.head1 {
    margin-top: 90px;
}
#email{
    width: 500px;
    height: 80px;
    background-color: white;
    padding: 30px;
    
}
#but7{
    background-color: orangered;
    height: 65px;
    width: 200px;
    color: white;
    border-radius: 8px;
}
#but7:hover{
    background-color: orangered;
    height: 65px;
    width: 200px;
    color: black;
    border-radius: 8px;
}
.ten{
    /* margin-left: 500px; */
    text-align: center;
}
.eleven{
    /* margin-left: 350px; */
    font-family: "Ubuntu", sans-serif;
    text-align: center;
}
.foot1{
   
    width: 300px;
    border-radius: 8px;
    height: 80px;
    padding: 18px;
    /* position:relative; */
    /* z-index: -100px; */
    border: 1px solid black;
    background-color: white;
    
}
.foot1:hover{
    width: 300px;
    height:80px;
    background-color: orangered;
    color: white;
}
.foot2{
   
    width: 300px;
    border-radius: 8px;
    height: 80px;
    margin-left: 20px;
    padding: 18px;
    /* position: absolute; */

    border: 1px solid black;
    background-color: white;
    
}
.foot2:hover{
    width: 300px;
    height:80px;
    background-color: orangered;
    color: white;
}
.foot3{
   
    width: 300px;
    border-radius: 8px;
    height: 80px;
    margin-left: 20px;
    padding: 18px;
    /* position: absolute; */
    /* z-index: -100px; */
    border: 1px solid black;
    background-color: white;
    
}
.foot3:hover{
    width: 300px;
    height:80px;
    background-color: orangered;
    color: white;
}
.div12{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.int1{
        display: inline-block;
        /* position: relative; */
}

.kitchen{
    display: flex;
    flex-direction: row;
    gap:20px;
    margin-top: 20px;
    margin-top: 80px;
}
.k1{
    display: flex;
    flex-direction: row;
    margin-left: 60px;
    gap: 20px;
}
.last{
    background-image: url("new images/section_bg02.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    padding: 30px;
    margin-top: 40px;
}
h2{
    color: white;
    margin-top: 10px;
}
#zx{
    color: rgba(255, 255, 255, 0.24);
    margin-top: 20px;
}
.last1{
    padding: 30px;
    gap: 30px;
   word-spacing: 300px;
}
.last2{
    padding: 30px;
    
}
.last3{
    padding: 30px;
}
.last3 img{
    padding-top: 20px;
}
.logo1{
    margin-right: 200px;
    margin-top: 80px;
}
.laast{
    display: flex;
    flex-direction: row;
    justify-content:end;
    gap: 20px;
}
#as{
    color: rgba(255, 255, 255, 0.199);
}
#nm{
    color: white;
    text-align: end;

}
.fa-kitchen-set{
    font-size: 50px;
}
.fa-utensils{
    font-size: 50px;
}
#kit{
    font-size: 30px;
}
/* .image3{
    position: relative;
}
.ft{
    position: absolute;
} */